<div class=" container padding-ver-40 lg:padding-ver-100">
  <div class="t-align--center mb-30 lg:mb-50">
    <h2 class="h1 fw-600 t-transf--uc mb-20 lg:mb-15">
      {{ section.settings.heading | upcase }}
    </h2>
    <div
      class="c-grey2">
      <span>
        {{ section.settings.description }}
      </span>
      <a class="c-grey2" href=" {{ seciton.settings.link }}">
        {{ section.settings.link_label }}
      </a>
    </div>
  </div>
  <div class="d-grid grid-layout5 gap-20 mb-40 lg:mb-80">
    {% for contact in section.blocks %}
      <div class="grid__item">
        <div class="card d-grid p-item--center gap-30 bc-secondary padding-50-20 border-grey6">
          {% if contact.settings.img != blank %}
            <img
              class="max-wh-3 bg-style"
              src="{{ contact.settings.img | image_url }}"
              alt="">
          {% else %}
            <svg
              class="card-img"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none">
              <g clip-path="url(#clip0_35_359)">
                <path d="M37.9487 6.66699H2.05133C0.923047 6.66699 0 7.59004 0 8.71824V31.2824C0 32.4105 0.923047 33.3337 2.05133 33.3337H37.9487C39.0769 33.3337 40.0001 32.4107 40.0001 31.2824V8.71824C40 7.59004 39.077 6.66699 37.9487 6.66699ZM37.1789 8.20535L21.18 20.2055C20.8923 20.4244 20.4508 20.5614 19.9999 20.5593C19.5491 20.5614 19.1077 20.4244 18.8199 20.2055L2.82102 8.20535H37.1789ZM28.6328 20.9973L37.3508 31.7666C37.3595 31.7774 37.3702 31.7856 37.3795 31.7953H2.62047C2.62969 31.7851 2.64047 31.7774 2.64922 31.7666L11.3672 20.9973C11.6343 20.6671 11.5837 20.1829 11.2528 19.9152C10.9226 19.6481 10.4384 19.6987 10.1713 20.029L1.53844 30.6932V9.16691L17.8973 21.4361C18.5123 21.8941 19.2604 22.0957 19.9998 22.0977C20.7383 22.0961 21.487 21.8946 22.1023 21.4361L38.4612 9.16691V30.693L29.8287 20.029C29.5615 19.6988 29.0769 19.648 28.7471 19.9152C28.4163 20.1823 28.3655 20.6671 28.6328 20.9973Z" fill="#171719" />
              </g>
              <defs>
                <clipPath id="clip0_35_359">
                  <rect
                    width="40"
                    height="40"
                    fill="white" />
                </clipPath>
              </defs>
            </svg>
          {% endif %}
          <div class="card-body t-align--center d-flex flex-cl a-item--center">
            <h3 class="h4 fw-600 t-transf--uc mb-5">
              {{ contact.settings.heading }}
            </h3>
            <p class="c-grey2">
              {{ contact.settings.description }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Contact",
    "tag": "div",
    "max_blocks": 4,
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Write your heading",
        "default": "OUR CONSULTANTS WILL BE HAPPY TO HELP YOU"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Write your paragraph",
        "default": "Before contacting us we recommend that you read the"
      }, {
        "type": "text",
        "id": "link_label",
        "label": "Write your link content",
        "default": "frequently asked questions"
      }, {
        "type": "url",
        "id": "link",
        "label": "Insert your link"
      }
    ],
    "blocks": [
      {
        "name": "Contact",
        "type": "contact",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Insert your image"
          }, {
            "type": "inline_richtext",
            "id": "heading",
            "label": "Write your heading",
            "default": "SEND US AN EMAIL"
          }, {
            "type": "textarea",
            "id": "description",
            "label": "Write your description",
            "default": "Fill in the form"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Contact",
        "blocks": [
          {
            "type": "contact"
          }, {
            "type": "contact"
          }, {
            "type": "contact"
          }, {
            "type": "contact"
          }
        ]
      }
    ]
  }
{% endschema %}