<div class="container padding-ver-40 lg:padding-ver-100">
  <h2 class="h1 l-spacing t-transf--uc t-align--center mb-25 lg:mb-45 fw-600">
    {{ section.settings.heading }}
  </h2>
  <div class="d-grid grid-layout2 gap-15 lg:gap-20">
    {% if section.settings.collection != blank %}
      {% for collection in section.settings.collection limit: 4 -%}
        <div class="d-grid__item width-100">
          <div class="card p-relative height-222 lg:height-360">
            <img
              class="card-img wh-100 bg-style"
              src="{{ collection.featured_image | image_url }}"
              alt="">
            <div class="card-body d-grid p-item--center p-absolute left-0 right-0 bottom-10 lg:bottom-30">
              <a class="btn btn-wh btn-secondary btn-border--none padding-13 max-width-125 width-100 t-decor--none t-align--center t-transf--uc" href="{{ collection.url }}">
                {{ collection.title }}
              </a>
            </div>
          </div>
        </div>
      {%- endfor %}
    {%- else -%}
      {% for i in (1..4) %}
        <div class="d-grid__item width-100">
          <div class="card p-relative  height-222 lg:height-360">
            {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg  card-img wh-100' }}
            <div class="card-body d-grid p-item--center p-absolute left-0 right-0 bottom-10 lg:bottom-30">
              <a class="btn btn-wh btn-secondary btn-border--none padding-13 max-width-125 width-100 t-decor--none t-align--center t-transf--uc" href="">
                Your title
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Feature Collection",
    "tag": "section",
    "class": "shop-by",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Heading",
        "default": "Shop by catgory"
      }, {
        "type": "collection_list",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Feature Collections"
      }
    ]
  }
{% endschema %}