<div class="container padding-block--0">
  <div class="d-grid p-item--center border-bt-dark2 p-block--40 lg-p-block--50">
    {% if section.settings.logo != blank %}
      <img
        class="logo-ft-size lg-logo-ft-size bg-style"
        src="{{ section.settings.logo | image_url }}"
        alt="shop-logo">
    {% else %}
      <span class="h-2xl h-md c-secondary">{{ shop.name }}</span>
    {% endif %}
  </div>
  <div class="d-grid grid-1cl xs-1--column md-2--column lg-4--column gap-60 lg-gap-20 p-block--50 lg-padding-70">
    {% for blocks in section.blocks %}
      {% case blocks.type %}
        {%- when 'search' -%}
        <div class="flex__item d-flex flex-cl gap-70">
          {% form 'customer', id: 'ContactFooter', class: 'd-flex flex-cl gap-20 lg-gap-30' %}
            <label class="h-2xs c-grey5 fw-400">
              {{ blocks.settings.title | upcase }}
            </label>
            <div class="p-relative">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class="wh-100 padding-10 bc-dark btn-border--none"
                id=""
                required
                value="{{ form.email }}"
                placeholder="Your Email">
              <button
                type="submit"
                id="Subscribe"
                class="btn btn-link btn-border--none c-grey5 p-absolute top-5 right-10">{{ block.settings.button_form }}Subscribe</button>
            </div>
          {% endform %}

          {% if blocks.settings.hide == false %}
            <div class="d-flex flex-cl gap-20 lg-gap-30">
              <h3 class="h-2xs c-grey5 fw-400">{{ blocks.settings.social_title | upcase }}</h3>
              <ul class="d-flex a-item--center gap-15 l-style--none">
                <li class="max-wh-20">
                  <a class="d-iblock wh-100 t-decor--none c-grey2" href="{{ blocks.settings.facebook }}">
                    {% render 'icon-facebook' %}
                  </a>
                </li>
                <li class="max-wh-20">
                  <a class="d-iblock wh-100 t-decor--none c-grey2" href="{{ blocks.settings.instagram }}">
                    {% render 'icon-instagram' %}
                  </a>
                </li>
                <li class="max-wh-20">
                  <a class="d-iblock wh-100 t-decor--none c-grey2" href="{{ blocks.settings.linkin }}">
                    {% render 'icon-linkin' %}
                  </a>
                </li>
                <li class="max-wh-20">
                  <a class="d-iblock wh-100 t-decor--none c-grey2" href="{{ blocks.settings.youtube }}">
                    {% render 'icon-youtube' %}
                  </a>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>

        {%- when 'link_list' -%}
        <div class="flex__item">
          <div class="d-flex flex-cl gap-20 lg-gap-30">
            <h3 class="h-2xs c-grey5 fw-400">{{ blocks.settings.title | upcase }}</h3>
            <ul class="d-flex flex-cl gap-15 l-style--none">
              {% for link in blocks.settings.footer_menu.links %}
                <li>
                  {% assign linkContent = link.title %}
                  {% assign linkUrl = link.url %}
                  {{ linkContent | link_to: linkUrl, class: 'd-iblock t-decor--none c-grey2' }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {%- when 'text' -%}
        <div class="flex__item lg-max-width-281">
          <div class="d-flex flex-cl gap-20 lg-gap-30">
            <h3 class="h-2xs c-grey5 fw-400">{{ blocks.settings.title | upcase }}:</h3>
            <div class="d-flex flex-cl gap-15 l-style--none c-grey2">
              {{ blocks.settings.info_text }}
            </div>
          </div>
        </div>
      {% endcase %}
    {% endfor %}
  </div>
  <div class="padding-23">
    <p class="c-grey2 t-align--center">
      {{ section.settings.copyright }}
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "tag": "section",
    "class": "bc-primary",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Choose your image"
      }, {
        "type": "text",
        "id": "copyright",
        "label": "Write your copyright",
        "default": "Copyright by Long"
      }
    ],
    "blocks": [
      {
        "name": "footer menu",
        "type": "link_list",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Write your menu title",
            "default": "CUSTOMER CARE"
          }, {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer menu"
          }
        ]
      }, {
        "name": "Information",
        "type": "text",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Address Title",
            "default": "Information"
          }, {
            "type": "richtext",
            "id": "info_text",
            "label": "Address",
            "default": "<p>Text somethings here</p>"
          }
        ]
      }, {
        "name": "search",
        "type": "search",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Write your title",
            "default": "Submit for newlester"
          },
          {
            "type": "checkbox",
            "id": "hide",
            "label": "Hide Social",
            "default": false
          },
          {
            "type": "inline_richtext",
            "id": "social_title",
            "label": "Write your title for social",
            "default": "Social media"
          },
          {
            "type": "url",
            "id": "facebook",
            "label": "Input your facebook link"
          }, {
            "type": "url",
            "id": "instagram",
            "label": "Input your instagram link"
          }, {
            "type": "url",
            "id": "linkin",
            "label": "Input your linkin link"
          }, {
            "type": "url",
            "id": "youtube",
            "label": "Input your youtube link"
          }
        ]
      }
    ]
  }
{% endschema %}