<div class="container container__padding">
  <h2 class="h-2xl h-md mb-15 t-align--center">Search</h2>
  <form class="search d-flex j-content--center mb-30" action="/search">
    <div class="p-relative search__container">
      <input
        class="p-relative width-100 search__box"
        type="text"
        placeholder="Search"
        name="q"
        value="{{ search.terms | escape }}" />
      <button class="btn btn-link btn-border--none p-absolute btn-search--position" type="submit">
        {% render 'icon-search' %}
      </button>
    </div>
  </form>
  {% if search.results.size > 0 %}
    <div class="d-grid xs-2--column lg-4--column r-gap-40 lg-r-gap-60 gap-15 lg-gap-18 p-block--13 lg-padding-0">
      {% for results in search.results %}
        {% if results.object_type == 'product' %}
          <div class="grid__item">
            <div class="card d-flex flex-cl a-item--center">
              <div class="p-relative product-img">
                <a class="d-iblock card-img p-relative wh-100" href="{{ results.url }}">
                  {%- liquid
                    assign main_img = results.featured_image
                    render 'image', main_img: main_img
                  -%}
                </a>
                <button class="btn btn-link btn-border--none max-wh-20 p-absolute top-20 right-20">
                  {% render 'icon-heart' %}
                </button>
              </div>
              <div class="card-body d-flex flex-cl a-item--center gap-10 mt-20">
                <h3 class="h-xs">
                  {{ results.title | upcase }}
                </h3>
                {% if results.price != 0 %}
                  <p class="h-xs c-grey1 mb-10">
                    {{ results.price | money }}
                  </p>
                {% else %}
                  <p class="t-align--center">Vui lòng liên hệ để biết chi tiết giá sản phẩm</p>
                {% endif %}
              </div>
            </div>
          </div>
        {% elsif results.object_type == 'page' %}
          <div class="rs__container d-grid p-item--center width-100 bc-grey3 p-relative">
            <a class="c-primary t-decor--none" href="{{ results.url }}">
              {{ results.title | upcase }}
            </a>
            <span class="page__tag p-absolute bc-secondary">page</span>
          </div>
        {% endif %}
      {% endfor %}
    {% elsif search.results.size == 0 %}
      <h3 class="t-align--center">
        No result.
      </h3>
    {% endif %}
  </div>
</div>