<div class="container padding-ver-40 lg:padding-ver-100 d-grid grid-layout4">
  <div class="{{ section.settings.img_aligment }}">
    {% if section.settings.img_video == "video" %}
      <div class="video-wrapper p-relative height-100">
        {% if section.settings.img != blank %}
          <img
            class="wh-100 bg-stlye"
            src="{{ section.settings.img | image_url }}"
            alt="">
        {% else %}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg wh-100' }}
        {% endif %}
        <button
          id="playButton"
          class="d-grid p-item--center p-absolute btn-play__position btn btn-link btn-border--none"
          onclick="playVideo()">
          {% render 'play-button' %}
        </button>
      </div>
    {% elsif section.settings.img_video == "img" %}
      {% if section.settings.img != blank %}
        <img
          class="wh-100 bg-style"
          src="{{ section.settings.img | image_url }}"
          alt="">
      {% else %}
        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg wh-100' }}
      {% endif %}
    {% endif %}
  </div>
  <div class="content-wrapper bc-grey0 padding-60-30 lg:padding-133-90">
    <h2 class="h1 l-spacing fw-600 mb-20">
      {{ section.settings.heading | upcase }}
    </h2>
    <p class="c-grey2 mb-70">
      {{ section.settings.description }}
    </p>

    {% if section.settings.button != blank %}
      <a href="" class="btn btn-secondary btn-border--none t-decor--none padding-12-32">
        {{ section.settings.button | upcase }}
      </a>
    {%- else -%}
      <a class="d-none" href=""></a>
    {% endif %}
  </div>
</div>
<div id="videoOverlay" class="video-overlay hide">
  <button
    id="closeButton"
    class="btn-close"
    onclick="closeVideo()">&times;</button>
  {% if section.settings.video_embed != blank %}
    {{ section.settings.video_embed }}
  {%- else -%}
    <iframe
      id="videoPlayer"
      width="300"
      height="300"
      src="https://www.youtube.com/embed/kk-1bEP-7CA"
      title="Louis VUITTON High Jewelry Campaign 2019 Savoir Faire"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Media with text",
    "tag": "section",
    "class": "video",
    "settings": [
      {
        "type": "select",
        "id": "img_video",
        "label": "Media type",
        "options": [
          {
            "label": "Image",
            "value": "img"
          }, {
            "label": "Video",
            "value": "video"
          }
        ]
      },
      {
        "type": "radio",
        "id": "img_aligment",
        "label": "Image aligment",
        "options": [
          {
            "value": "order-1",
            "label": "Left"
          }, {
            "value": "order-2",
            "label": "Right"
          }
        ],
        "default": "order-1"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Choose your image"
      },
      {
        "type": "html",
        "id": "video_embed",
        "label": "Insert Video"
      }, {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Title",
        "default": "Your title go here"
      }, {
        "type": "inline_richtext",
        "id": "description",
        "label": "Description",
        "default": "Your description ?"
      }, {
        "type": "text",
        "id": "button",
        "label": "Button",
        "default": "button"
      }, {
        "type": "url",
        "id": "link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Media with text"
      }
    ]
  }
{% endschema %}