<div class="container d-grid xs-1--column lg-2--column">
  <div class="{{ section.settings.img_aligment }}">
    {% if section.settings.img_video == "video" %}
      <div class="video-wrapper p-relative height-100">
        {% if section.settings.img != blank %}
          {%- liquid
            assign main_img = section.settings.img
            render 'image', main_img: main_img
          -%}
        {% else %}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg wh-100' }}
        {% endif %}
        <button
          id="playButton"
          class="d-grid p-item--center p-absolute btn-play__position btn btn-link btn-border--none"
          onclick="playVideo()">
          {% render 'play-button' %}
        </button>
      </div>
    {% elsif section.settings.img_video == "img" %}
      {% if section.settings.img != blank %}
        {%- liquid
          assign main_img = section.settings.img
          render 'image', main_img: main_img
        -%}
      {% else %}
        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg wh-100' }}
      {% endif %}
    {% endif %}
  </div>
  <div class="content-wrapper bc-grey0 padding-60-30 lg-padding-133-90">
    <h2 class="h-2xl h-md sm-title__mb lg-title__mb" style="--sm-mb: {{ section.settings.title_mb | append :'rem' }}; --lg-mb: {{ section.settings.lg_title_mb |append : 'rem' }}">
      {{ section.settings.heading | upcase }}
    </h2>
    <p class="c-grey2 content__mb lg-content__mb" style="--mb-content: {{ section.settings.des_mb | append : 'rem' }}; --lg-content-mb: {{ section.settings.lg_des_mb | append : 'rem' }}">
      {{ section.settings.description }}
    </p>

    {% if section.settings.button != blank %}
      {%- liquid
        assign linkUrl = section.settings.link
        assign linkContent = section.settings.button
        render 'btn-secondary', btnTitle: linkContent, btnLink: linkUrl
      -%}
    {% endif %}
  </div>
</div>
<div id="videoOverlay" class="video-overlay hide">
  <button
    id="closeButton"
    class="btn-close"
    onclick="closeVideo()">&times;</button>
  {% if section.settings.video_embed != blank %}
    {% assign video-id = section.settings.video_embed | split: '=' | last %}
    <iframe
      id="videoPlayer"
      width="300"
      height="300"
      src="https://www.youtube.com/embed/{{ video-id }}"
      title="Louis VUITTON High Jewelry Campaign 2019 Savoir Faire"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  {%- else -%}
    <iframe
      id="videoPlayer"
      width="300"
      height="300"
      src="https://www.youtube.com/embed/kk-1bEP-7CA"
      title="Louis VUITTON High Jewelry Campaign 2019 Savoir Faire"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Media with text",
    "tag": "section",
    "class": "video",
    "settings": [
      {
        "type": "select",
        "id": "img_video",
        "label": "Media type",
        "options": [
          {
            "label": "Image",
            "value": "img"
          }, {
            "label": "Video",
            "value": "video"
          }
        ]
      },
      {
        "type": "radio",
        "id": "img_aligment",
        "label": "Image aligment",
        "options": [
          {
            "value": "lg-order-1",
            "label": "Left"
          }, {
            "value": "lg-order-2",
            "label": "Right"
          }
        ],
        "default": "lg-order-2"
      },
      {
        "type": "image_picker",
        "id": "img",
        "label": "Choose your image"
      },
      {
        "type": "video_url",
        "id": "video_embed",
        "label": "Insert Video",
        "accept": ["youtube", "vimeo"]
      }, {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Title",
        "default": "Your title go here"
      }, {
        "type": "range",
        "id": "title_mb",
        "min": 2,
        "max": 2.5,
        "step": 0.1,
        "unit": "rem",
        "label": "Mobile Title Margin Bottom",
        "default": 2
      }, {
        "type": "range",
        "id": "lg_title_mb",
        "min": 2,
        "max": 2.5,
        "step": 0.1,
        "unit": "rem",
        "label": "Desktop Title Margin Bottom",
        "default": 2
      }, {
        "type": "inline_richtext",
        "id": "description",
        "label": "Description",
        "default": "Your description ?"
      }, {
        "type": "range",
        "id": "des_mb",
        "min": 7,
        "max": 8.5,
        "step": 0.1,
        "unit": "rem",
        "label": "Mobile Description Margin Bottom",
        "default": 7
      }, {
        "type": "range",
        "id": "lg_des_mb",
        "min": 7,
        "max": 8.5,
        "step": 0.1,
        "unit": "rem",
        "label": "Desktop Description Margin Bottom",
        "default": 7
      }, {
        "type": "text",
        "id": "button",
        "label": "Button",
        "default": "button"
      }, {
        "type": "url",
        "id": "link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Media with text"
      }
    ]
  }
{% endschema %}