<div class="{{ section.settings.background }}">
  <div class="container container__padding">
    <div class="t-align--center">
      <h2 class="h-2xl h-md sm-title__mb lg-title__mb" style="--sm-mb: {{ section.settings.sm-mc__header-mb | append : 'rem' }}; --lg-mb: {{ section.settings.lg-mc__header-mb | append : 'rem' }}">
        {{ section.settings.title | upcase }}
      </h2>
      {% if section.settings.description != blank %}
        <div class="c-grey2 mb-30 lg-mb-50">
          <span>
            {{ section.settings.description }}
          </span>
          <a class="c-grey2" href="{{ section.settings.header-link }}">
            {{ section.settings.link_label }}
          </a>
        </div>
      {% endif %}
    </div>
    <div class="d-grid {{ section.settings.grid-item }} gap-20">
      {% for column in section.blocks %}
        {% if column.settings.background == "bc-grey0" %}
          <div class="grid__item">
            <div class="card d-grid p-item--center bc-secondary padding-20-50 lg-padding-50-20">
              <div class="box-img__mb" style="--img-mb: {{ section.settings.mb_img | append : 'rem' }}">
                {% if column.settings.box_img != blank %}
                  <img
                    class="width-40"
                    src="{{ column.settings.box_img | image_url }}"
                    alt="{{ column.settings.box_img.alt }}">
                {% else %}
                  {% render 'icon-box' %}
                {% endif %}
              </div>
              <div class="card-body t-align--center d-flex flex-cl a-item--center">
                <h3 class="h-xs box-title__mb" style="--box-title-mb: {{ section.settings.mb_title | append : 'rem' }}">
                  {{ column.settings.box_heading | upcase }}
                </h3>
                <p class="c-grey2 content__mb" style="--mb-content: {{ section.settings.mb_des | append : 'rem' }}">
                  {{ column.settings.box_description }}
                </p>
                <a class="t-decor--none d-flex gap-10 a-item--center" href="#">
                  <span class="c-primary l-spacing">
                    {{ column.settings.button | upcase }}
                  </span>
                  {% render 'icon-transfer' style"c-primary" %}
                </a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="grid__item">
            <div class="card d-grid p-item--center bc-secondary padding-20-50 lg-padding-50-20 border-grey6">
              <div class="box-img__mb" style="--img-mb: {{ section.settings.mb_img | append : 'rem' }}">
                {% if column.settings.box_img != blank %}
                  <img
                    class="width-40"
                    src="{{ column.settings.box_img | image_url }}"
                    alt="{{ column.settings.box_img.alt }}">
                {% else %}
                  {% render 'icon-box' %}
                {% endif %}
              </div>
              <div class="card-body t-align--center d-flex flex-cl a-item--center">
                <h3 class="h-xs box-title__mb" style="--box-title-mb: {{ section.settings.mb_title | append : 'rem' }}">
                  {{ column.settings.box_heading | upcase }}
                </h3>
                <p class="c-grey2 content__mb" style="--mb-content: {{ section.settings.mb_des | append : 'rem' }}">
                  {{ column.settings.box_description }}
                </p>
                {% if column.settings.button != blank %}
                  <a class="t-decor--none d-flex gap-10 a-item--center" href="{{ column.settings.box-link }}">
                    <span class="c-primary l-spacing">
                      {{ column.settings.button | upcase }}
                    </span>
                    {% render 'icon-next-dark' %}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if section.settings.hide == false %}
      <div class="t-align--center mt-40 lg-mt-80">
        <h3 class="h-xs mb-15">
          {{ section.settings.additional_title | upcase }}
        </h3>
        <div class="c-grey2">
          {{ section.settings.additional_des }}
        </div>
      </div>
    {% endif %}
  </div>
</div>


{% schema %}
  {
    "name": "Multi column",
    "tag": "section",
    "class": "our-service",
    "max_blocks": 4,
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Heading",
        "default": "Our Service"
      },
      {
        "type": "range",
        "id": "sm-mc__header-mb",
        "min": 2,
        "max": 2.5,
        "step": 0.1,
        "unit": "rem",
        "label": "Mobile Header Margin Bottom",
        "default": 2
      },
      {
        "type": "range",
        "id": "lg-mc__header-mb",
        "min": 1.5,
        "max": 5,
        "step": 0.1,
        "unit": "rem",
        "label": "Desktop Header Margin Bottom",
        "default": 1.5
      },
      {
        "type": "inline_richtext",
        "id": "description",
        "label": "Write your paragraph",
        "default": "Before contacting us we recommend that you read the"
      }, {
        "type": "text",
        "id": "link_label",
        "label": "Write your link content",
        "default": "frequently asked questions"
      }, {
        "type": "url",
        "id": "header-link",
        "label": "Header link"
      }, {
        "type": "select",
        "id": "background",
        "label": "Section Type",
        "options": [
          {
            "value": "bc-grey0",
            "label": "Grey"
          }, {
            "value": "bc-secondary",
            "label": "White"
          }
        ]
      }, {
        "type": "select",
        "id": "grid-item",
        "label": "Column",
        "options": [
          {
            "value": "xs-1--column md-2--column lg-4--column",
            "label": "4 colunm"
          }, {
            "value": "xs-1--column md-2--column lg-3--column",
            "label": "3 colunm"
          }
        ]
      }, {
        "type": "range",
        "id": "mb_img",
        "min": 3,
        "max": 4,
        "step": 0.1,
        "unit": "rem",
        "label": "Image Margin Bottom",
        "default": 3
      }, {
        "type": "range",
        "id": "mb_title",
        "min": 0.5,
        "max": 2,
        "step": 0.1,
        "unit": "rem",
        "label": "Title Margin Bottom",
        "default": 0.5
      }, {
        "type": "range",
        "id": "mb_des",
        "min": 0,
        "max": 3,
        "step": 0.1,
        "unit": "rem",
        "label": "Description Margin Bottom",
        "default": 2
      }, {
        "type": "checkbox",
        "id": "hide",
        "label": "Hide additional infomation",
        "default": false
      }, {
        "type": "inline_richtext",
        "id": "additional_title",
        "label": "Additional Title",
        "default": "CUSTOMER SERVICE OPENING HOURS"
      }, {
        "type": "richtext",
        "id": "additional_des",
        "label": "Additional Description",
        "default": "<p>Monday-Friday: 09: 00-18: 30Saturday: 09: 00-12: 30</p>"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "column",
        "settings": [
          {
            "type": "image_picker",
            "id": "box_img",
            "label": "Box image"
          },
          {
            "type": "inline_richtext",
            "id": "box_heading",
            "label": "Box heading",
            "default": "FREE SHIPPING IN ITALY"
          },
          {
            "type": "inline_richtext",
            "id": "box_description",
            "label": "Box paragraph",
            "default": "Lorem ipsum dolor sit amet"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Enter your label button",
            "default": "read more"
          }, {
            "type": "url",
            "id": "box-link",
            "label": "Input your button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multi column",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}