<div class="bg-img bg-style" style="background-color: black; --bg-img: url('{{ section.settings.background | image_url }}')">
  <div class="container sm-padding lg-padding {{ section.settings.content_position }}" style="--sm-padding: {{ section.settings.sm_padding | append: 'rem' }}; --lg-padding: {{ section.settings.lg_padding | append: 'rem' }}">
    <h2 class="sm-fs lg-fs sm-title__mb lg-title__mb c-secondary" style="--sm-mb: {{ section.settings.sm_title_mb | append: 'rem' }}; --lg-mb: {{ section.settings.lg_title_mb | append: 'rem' }}; --sm-fs: {{ section.settings.sm_font-size | append: 'rem' }}; --lg-fs: {{ section.settings.lg_font-size | append: 'rem' }}">
      {{ section.settings.title | upcase }}
    </h2>
    {% if section.settings.content_position == 't-align--start' %}
      {% assign desMaxwidth = 'max-width--327' %}
    {% endif %}
    <p class="c-grey2 content__mb {{ desMaxwidth }}" style="--mb-content: {{ section.settings.content_mb | append: 'rem' }};">
      {{ section.settings.description }}
    </p>
    <div>
      {% if section.settings.btn_showhide == false %}
        {% if section.settings.btn_alignment == "btn1" %}
          <a class="t-decor--none a-item--center" href="{{ section.settings.link }}">
            <span class="c-secondary mr-10">
              {{ section.settings.btn_label | upcase }}
            </span>
            {% render 'icon-transfer' %}
          </a>
        {% elsif section.settings.btn_alignment == "btn2" %}
          {% if section.settings.btn_label != blank %}
            {% assign btnTitle = section.settings.btn_label %}
            {% assign btnLink = section.settings.link %}
            {% render 'btn-secondary', btnTitle: btnTitle, btnLink: btnLink %}
          {% endif %}
        {% endif %}
      {% elsif section.settings.btn_showhide == true %}
        <a class="d-none"></a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Rich Text",
    "tag": "section",
    "class": "rich-text",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Heading",
        "default": "NEW COLLECTION 2021"
      },
      {
        "type": "range",
        "id": "sm_font-size",
        "min": 2,
        "max": 3,
        "step": 0.1,
        "unit": "rem",
        "label": "Mobile font size",
        "default": 2
      },
      {
        "type": "range",
        "id": "lg_font-size",
        "min": 2,
        "max": 3,
        "step": 0.1,
        "unit": "rem",
        "label": "Desktop font size",
        "default": 2
      },

      {
        "type": "range",
        "id": "lg_title_mb",
        "min": 1.5,
        "max": 3,
        "step": 0.1,
        "unit": "rem",
        "label": "Desktop Title margin bottom",
        "default": 2
      }, {
        "type": "range",
        "id": "sm_title_mb",
        "min": 1.5,
        "max": 3,
        "step": 0.1,
        "unit": "rem",
        "label": "Mobile Title margin bottom",
        "default": 2
      }, {
        "type": "inline_richtext",
        "id": "description",
        "label": "Paragraph",
        "default": "Text somethings here"
      }, {
        "type": "range",
        "id": "content_mb",
        "min": 0,
        "max": 4.1,
        "step": 0.1,
        "unit": "rem",
        "label": "Content margin bottom",
        "default": 3
      }, {
        "type": "select",
        "id": "content_position",
        "label": "Content position",
        "options": [
          {
            "value": "t-align--start",
            "label": "Left"
          }, {
            "value": "t-align--center",
            "label": "Middle"
          }, {
            "value": "t-align--end",
            "label": "Right"
          }
        ]
      }, {
        "type": "image_picker",
        "id": "background",
        "label": "Background image"
      }, {
        "type": "range",
        "id": "lg_padding",
        "min": 10,
        "max": 20.5,
        "step": 0.5,
        "unit": "rem",
        "label": "Desktop padding",
        "default": 18
      }, {
        "type": "range",
        "id": "sm_padding",
        "min": 5,
        "max": 10,
        "step": 0.1,
        "unit": "rem",
        "label": "Mobile padding",
        "default": 6
      }, {
        "type": "checkbox",
        "id": "btn_showhide",
        "label": "Hide your button",
        "default": false
      }, {
        "type": "select",
        "id": "btn_alignment",
        "label": "Button style",
        "options": [
          {
            "value": "btn1",
            "label": "Button 1"
          }, {
            "value": "btn2",
            "label": "Button 2"
          }
        ],
        "default": "btn1"
      }, {
        "type": "text",
        "id": "btn_label",
        "label": "Button label",
        "default": "see more"
      }, {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "presets": [
      {
        "name": "Rich Text"
      }
    ]
  }
{% endschema %}